<section class="auth-page">

<main>
    <h2>Login</h2>
    
        
        <%= form_with scope: :session, url: login_path do |f| %>

            <div class="form-group">
            <%= f.label :email %><br/>
            <%= f.email_field :email, class: "form-control"%>
            </div>
            
            <div class="form-group">
            <%= f.label :password %><br/>
            <%= f.password_field :password, class: "form-control" %>
            </div>
            
            <div class="form-group">
            <%= f.submit "Login", class: "submit-btn btn btn-outline btn-primary"%>
            </div>

            <%# <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            </div> %>

            <%= render "components/alert-close" %>


        <% end %>
        <hr>
        <p>Don't have an account? <br> <a href="<%= register_path%>">Create one</a> </p>
</main>
    
</section>    

   
