<%= form_with model: cinema do |form| %>
    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
        <% cinema.errors.full_messages_for(:name).each do |message| %>
        <div class="error-message"><%= message%></div>
        <% end %>
    </div>

    <div>
        <%= form.label "Available seats (max 10)" %><br>
        <%= form.number_field :available_seats, max: "10", min: "0" %>
        <% cinema.errors.full_messages_for(:available_seats).each do |message| %>
        <div class="error-message"><%= message%></div>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>