<%= render 'components/navbar', :locals => {:admin => "active"} %>
<section class="admin-page">
    <main>
        <h2>Movies</h2>
        <br>
        <a href="<%= new_movie_path %>" class="rm-decor">
            <%= render "components/button-icon", :locals => {:text => "Add Movie", color: "secondary", icon: "add"} %>
        </a>
       
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                     <th scope="col">Thumbnail</th>
                    <th scope="col">Movie title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Cinema</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
                <tbody> 
                    <% @movies.each do |movie| %>
                        <tr>
                            <th scope="row"><%= movie.id%></th>
                            <td class="">
                                <% if movie.thumbnail.attached? %>
                                    <%= image_tag url_for(movie.thumbnail), width: "100"%>   
                                <% else %>
                                    <%= image_tag "valo.jpg", width: "100"%>
                                <% end %>
                            </td>
                            <td class=""><%= link_to movie.title, movie %> </td>
                            <td><%= movie.description%></td>
                            <% @cinemas.each do |cinema| %>
                                <% if movie.cinema_id == cinema.id %>
                                    <td><%= link_to cinema.name, cinema %></td>
                                <% end %>  
                            <% end %>
                            <td class="action-buttons">
                                <a href="/admin/movies/<%= movie.id %>/edit" class="rm-decor" >
                                    <%= render "components/button", :locals => {:text => "Edit", :color => "primary"} %>
                                </a>
                            
                                <a href="/admin/movies/<%= movie.id %>" class="rm-decor" data-method="delete" data-confirm="Are you sure?">
                                    <%= render "components/button", :locals => {:text => "Delete", :color => "accent"} %>
                                </a>
                            </td>
                        </tr>
                    <% end %> 
                </tbody>
        </table>
         
    </main>
</section>